body {
	min-height: 2000px;
	font-size: 15px
}

.preeti-padder {
    padding-top: 30px;
    padding-bottom: 30px;
	text-align: justify;
}

.row.content {height: 450px}

 .sidenav {
    padding-top: 20px;
    background-color: #ffffff;
    height: 100%;
}

@media screen and (max-width: 767px) {
.sidenav {
    height: auto;
    padding: 15px;
}
.row.content {height:auto;}
